<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmeng.mapdemo.camera.mapper.CameraMapper">
    <select id="list" resultType="map" parameterType="map">
        select * from camera where 1=1
        <if test="name!=null and name!=''">
            <bind name="nameLike" value="'%'+name+'%'"/>
            and name like #{nameLike}
        </if>
        <if test="addr!=null and addr!=''">
            <bind name="addrLike" value="'%'+addr+'%'"/>
            and addr like #{addrLike}
        </if>
        <if test="state!=null">
            and state=#{state}
        </if>
    </select>
    <delete id="delete" parameterType="list">
        delete from camera where id in
            <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
    </delete>
    <select id="getById" parameterType="string" resultType="com.xmeng.mapdemo.camera.domain.Camera">
        select * from camera where id=#{id}
    </select>
    <update id="update" parameterType="com.xmeng.mapdemo.camera.domain.Camera">
        update camera t
        <set>
        <if test="code!=null">
            t.code=#{code,jdbcType=VARCHAR},
        </if>
        <if test="name!=null">
            t.name=#{name,jdbcType=VARCHAR},
        </if>
        <if test="addr!=null">
            t.addr=#{addr,jdbcType=VARCHAR},
        </if>
        <if test="state!=null">
            t.state=#{state,jdbcType=INTEGER},
        </if>
        <if test="longitude!=null">
            t.longitude=#{longitude,jdbcType=NUMERIC},
        </if>
        <if test="latitude!=null">
            t.latitude=#{latitude,jdbcType=NUMERIC},
        </if>
    </set>
        where t.id=#{id,jdbcType=VARCHAR}
    </update>
    <insert id="add" parameterType="com.xmeng.mapdemo.camera.domain.Camera">
        insert into camera
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="addr != null">
                addr,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="latitude != null">
                latitude,
            </if>
            <if test="description != null">
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="addr != null">
                #{addr,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=NUMERIC},
            </if>
            <if test="latitude != null">
                #{latitude,jdbcType=NUMERIC},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>
